<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= form.file_field :image, class:"control has-icons-left input is-small is-rounded" %>
  </div>

  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title, placeholder: "Blog Title (Caption)", class:"control has-icons-left input is-small is-rounded"  %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, placeholder: "Content (Post Body)", class:"control input is-large"  %>
  </div>

  <div class="field">
    
    <%= form.number_field :user_id, value: current_user.id, type: :hidden%>
  </div>
  <div class="field">

    
  </div>

  <div class="field">
   <%= form.text_field :name, value: current_user.name, type: :hidden %>
  </div>
  <div class="field">
   <%= form.select_field :approval,[ "false","true"], { prompt:"Admin" }, class:"control has-icons-left is-small is-rounded" %>
  </div>
  <div class="field">
    <%= form.label :at %>
    <%= form.datetime_select :at %>
  </div>

  <div class="actions">
    <%= form.submit class:"control button is-rounded"%>
  </div>
<% end %>
