<div class="has-text-centered">
<div class="card-content">
        <div class="has-text-centered"> 
            <% if user_signed_in? %>

                    <%= link_to "Analytics", analytics_index_path, class: "navbar-item" %>
        
     
       <%= link_to "Blog", feeds_path %>

         <%end%>   
            <a class="btn btn-secondary" href="https://gwagware.herokuapp.com/live/index"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-reels-fill" viewBox="0 0 16 16">
  <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
  <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7z"/>
</svg>  Live Events</a>   
       
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
  <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
  <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
</svg>   Gwagware Foundation</a>       
               
        </div>    
    </div> 
    

  
        </div>
<section class="section">

    <div class="container">
      

<div class="columns is-multiline">
    
  
    <div class="column is-7">
        
        <div class="card">
    <div class="card-image">
        <figure class="image">
      	 <%= image_tag "banner.png" %>

</figure>
    </div>
    <div class="card-content">
        <div class="has-text-centered">
        
             <a class="btn btn-secondary" href="https://www.facebook.com/groups/2308171159473206"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
</svg></a>
 <a class="btn btn-secondary" href="https://www.youtube.com/channel/UCyRmHRyUQtzCv9lHIom3lHw"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-youtube" viewBox="0 0 16 16">
  <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="https://www.facebook.com/groups/2308171159473206"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-meta" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8.217 5.243C9.145 3.988 10.171 3 11.483 3 13.96 3 16 6.153 16.001 9.907c0 2.29-.986 3.725-2.757 3.725-1.543 0-2.395-.866-3.924-3.424l-.667-1.123-.118-.197a54.944 54.944 0 0 0-.53-.877l-1.178 2.08c-1.673 2.925-2.615 3.541-3.923 3.541C1.086 13.632 0 12.217 0 9.973 0 6.388 1.995 3 4.598 3c.319 0 .625.039.924.122.31.086.611.22.913.407.577.359 1.154.915 1.782 1.714Zm1.516 2.224c-.252-.41-.494-.787-.727-1.133L9 6.326c.845-1.305 1.543-1.954 2.372-1.954 1.723 0 3.102 2.537 3.102 5.653 0 1.188-.39 1.877-1.195 1.877-.773 0-1.142-.51-2.61-2.87l-.937-1.565ZM4.846 4.756c.725.1 1.385.634 2.34 2.001A212.13 212.13 0 0 0 5.551 9.3c-1.357 2.126-1.826 2.603-2.581 2.603-.777 0-1.24-.682-1.24-1.9 0-2.602 1.298-5.264 2.846-5.264.091 0 .181.006.27.018Z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>
<section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <iframe width="100%" height="400px" src="https://www.youtube.com/embed/RqNMKa1EFj8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">*GWAGWARE FOUNDATION*</p>
            </a>
            <hr>
            <p class="is-size-6">Published: Jan 22, 2022 | By Muhammad Sadeeq </p>
            <p class="is-size-7">
Ranar Lahadin da ta gabata 16th ga watan janairu hijira ta 2022 a NYSC Camp Inda Alh. Dr. Dikko Umar Radda ya  Kaddamar da Kayan da Kungiyar *GWAGWARE FOUNDATION* Ta Rabawa wadanda suka samu Horan Ta bangarori daban daban Kayan da aka raba sun Hada da Computers, Kekunan Dinki, na mutum 250 a Fadin Jahar katsina.

*Wadanda suka Halarci wajen sun hada  da Matar Mai girma Gomnan jihar Katsina Haj. Hadiza Aminu Masari, Hon. Chief judge katsina State high court of justice Musa Danladi Abubakar, Deputy Speaker Katsina State House of Assembly Alh. Dalhatu Tafoki, Majority Leader Hon. Abubakar Korau, Hon. Badamasi Lawal Charanchi, Alh. Usman Kuraye, Alh. Musa yusuf Gafai, Hon. Lawal Isah Kuraye, Alh Abdullahi Aliyu General, Chairman Gwagware Foundation Alh. Usman Kabir Secretary General na gwagware Foundation Alh. Shamsudden Ahmad, da yan Tawagarsu, Hon. Isah Miqdad, Haj. Rukkaya Umar Radda DG Dan Amana Solidarity Forum, DG Gwagware women Concerned Haj. Binta Dandangi Media press, Mawaka da sauran Kungiyoyi Masu goyan Bayan Tafiyar Dr. Dikko Umar Radda. *

Kowa ya fito ya nuna farin cikinsa akan Wannan Taro taro anyi lafiya, muna Addu’a shi kuma wanda yayi Allah yasaka masa da Alkhairi ya biya masa bukatunsa na Alkhairi.

Reported by: 
Amb. Muhammad Nagaske 
*Chairman Gwagware Youth and Students awareness Forum.

</p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>
<section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
  <iframe width="100%" height="350px" src="https://www.youtube.com/embed/p7v6tBT5tK8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">Dr. Dikko Umaru Radda at The 15th China International SMEs Fair</p>
            </a>
            <hr>
            <p class="is-size-6">Published: Jan 22, 2022 by Media Crew</p>
            <p class="is-size-7">
The Director - General, SMEDAN . Dr. Dikko Umaru Radda at the 15th China International Small and Medium Enterprises Trade Fair.

</p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>
<section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
  <iframe width="100%" height="350px" src="https://www.youtube.com/embed/SBjFsy0wI-4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">Gwagware Foundation</p>
            </a>
            <hr>
            <p class="is-size-6">Published: Jan 22, 2022 by Media Crew</p>
            <p class="is-size-7">

Dubban Jama'a sun amfani daga tallafin azumi daga Gidauniyar Gwagwaren Katsina. Dr. Dikko Umaru Radda.

</p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>
<section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">

  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/xVJWT27BC1o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">Taron wayyar da kan Daliban jami'a don dogaro da kai. @BUK</p>
            </a>
            <hr>
            <p class="is-size-6">Published: Jan 16, 2022 by Author</p>
            <p class="is-size-7">
Dr. Dikko Umaru Radda (Gwagwaren Katsina) ya halarci taron waya da kan daliban Jami'a do Dogaro da kai ta hanyar sana'oi a Bayero University Kano.
</p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>
 <section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <%= image_tag "old13.jpg" %>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">ZIYARAR TA'AZIYYA DA MAI GIRMA GWAGWAREN KATSINA DR DIKKO UMARU RADDA YAKAI ACIKIN GARIN KATSINA DA KEWAYE</p>
            </a>
            <hr>
            <p class="is-size-6">Published:  2021-12-07 | By <em>Media Crew</em> </p>
            <p class="is-size-7">
A ranar Lahadi 05/12/2021, Mai Girma Gwawaran katsina Dr Dikko Umaru Radda Ya Ziyarci unguwar Gafai da lay-out dake a cikin birnin katsina, domin yin gaisuwa tare da ta'aziya ga yan'uwa da iyalan marigayi Hon. Zubairu Ali Gafai. Wanda Allah ya yima rasuwa a satin daya gabata.

 Bayan kammala gaisuwar a unguwar Gafai, Inda ya zarce unguwar Lay-out, Inda anan ma yayi gaisuwar Ta'aziyya ga yan'uwa da iyalai na marigayi Alh. Isah Matazu shima da Allah ya yima rasuwa satin daya gabata.

 Kai tsaye Gwagware ya zarce gidan Alh Hussaini Dangani domin yima matarshi Haj Binta Dangani Ta'aziyyar Mahaifiyarta tare da sauran Tawagarsa.

 A lokacin da yake gaisuwar ta'aziyar, Mai Girma Gwagwaren katsina. Yayi addu'ar neman gafara ga mamatan, Allah ya jikansu, Allah yasa aljannace makomarsu Ya kuma Basu hakurin jure Wanan Rashin da Sukayi. </p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>  
 <section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <%= image_tag "old16.jpg" %>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">The Emir of Lafiagi's visit to SMEDAN</p>
            </a>
            <hr>
            <p class="is-size-6">Published:  2021-10-08 | By <em>Media Crew</em> </p>
            <p class="is-size-7">
His Royal Highness The Emir of Lafiagi: Alhaji Mohammed Kawu visited the DG/CEO of SMEDAN, Dikko Umaru Radda PhD in his office.it was a pleasure meeting the Emir who only recently ascended the throne of his forefathers.

Long live the Amir of Lafiagi. </p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>  
 <section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <%= image_tag "old14.jpg" %>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">DISCLAIMER</p>
            </a>
            <hr>
            <p class="is-size-6">Published:  2021-10-08 | By <em>Shamsudeen Sanusi Ahmed</em> </p>
            <p class="is-size-7">
Notice of Misleading information. We dismiss the false, malicious and misleading information spread on social media outlets, by one Nura Sani Danzaki Danmusa, purporting that some members of the Gwagware foundation have resigned and joined an unknown organisation, named Mustapha Inuwa Apc Katsina. We assert that the said Nura and all the others in the attached photogragh, were not at anytime or in any capacity members of any of the Gwagwaren Katsina Charity foundations. Below is the Hausa version of the fabricated information disseminated by Dr. Mustapha Muh'd Inuwa Apc Mobilization Dan-Musa Chapter: “A yau 29/09/2021 yan Media Gwagware Foundation mabiya Gwagware qarwashin jagorancin Nura Sani Dan zaki Dan-musa, sun sauya akalar tafiyar su ta siyasa daga gidan Dukko Umar Radda (Gwagware) izuwa gidan Dr. Mustapha Muh'd Inuwa inda Dan majalisar qaramar hukumar Dan-Musa Hon. Alh. Aminu Garba Sai Baba ya anshi baquncin su, a gidan yan majalisu dake Katsina, Wayannan matasa Maza da Mata sunyi mubaya'ar dawowa cikin tafiyar Dr. Mustapha Muh'd Inuwa tsulumdum muna addu'a Allah yasa dawowar su tazama alheri ga tafiyar Dr. Mustapha Muh'd Inuwa. Muna addu'a Allah ya kawo mana zaman lafiya mai dorewa a Jahar mu ta Katsina da Nigeria baki daya” It is our believe that the false information is for cheap political and monetary gain or another hidden agenda. It is unfortunate that the individuals could not find any means of achieving their aim without dragging the Good name of Gwagwaren Katsina. In view of the foregoing, all members, patrons, trustees and the general public are hereby requested to disregard the false information.

Sincerely,

Shamsudeen Sanusi Ahmed Mlf, Secretary, Gwagware foundation. </p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>  
 <section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <%= image_tag "old15.png" %>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">SMEDAN 1000+ Youths on Business and Skill Development Initiative</p>
            </a>
            <hr>
            <p class="is-size-6">Published:  2021-10-08 | By <em>Media Crew</em> </p>
            <p class="is-size-7">
Notice of Misleading information. We dismiss the false, malicious and misleading information spread on social media outlets, by one Nura Sani Danzaki Danmusa, purporting that some members of the Gwagware foundation have resigned and joined an unknown organisation, named Mustapha Inuwa Apc Katsina. We assert that the said Nura and all the others in the attached photogragh, were not at anytime or in any capacity members of any of the Gwagwaren Katsina Charity foundations. Below is the Hausa version of the fabricated information disseminated by Dr. Mustapha Muh'd Inuwa Apc Mobilization Dan-Musa Chapter: “A yau 29/09/2021 yan Media Gwagware Foundation mabiya Gwagware qarwashin jagorancin Nura Sani Dan zaki Dan-musa, sun sauya akalar tafiyar su ta siyasa daga gidan Dukko Umar Radda (Gwagware) izuwa gidan Dr. Mustapha Muh'd Inuwa inda Dan majalisar qaramar hukumar Dan-Musa Hon. Alh. Aminu Garba Sai Baba ya anshi baquncin su, a gidan yan majalisu dake Katsina, Wayannan matasa Maza da Mata sunyi mubaya'ar dawowa cikin tafiyar Dr. Mustapha Muh'd Inuwa tsulumdum muna addu'a Allah yasa dawowar su tazama alheri ga tafiyar Dr. Mustapha Muh'd Inuwa. Muna addu'a Allah ya kawo mana zaman lafiya mai dorewa a Jahar mu ta Katsina da Nigeria baki daya” It is our believe that the false information is for cheap political and monetary gain or another hidden agenda. It is unfortunate that the individuals could not find any means of achieving their aim without dragging the Good name of Gwagwaren Katsina. In view of the foregoing, all members, patrons, trustees and the general public are hereby requested to disregard the false information.

Sincerely,

Shamsudeen Sanusi Ahmed Mlf, Secretary, Gwagware foundation. </p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>  

 <section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <%= image_tag "old12.jpg" %>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">Gwagware ya Bukaci masu amfani da kimiyar sadarwa ta zamanin dasu kauracewa cin mutuncin sauran Yan </p>
            </a>
            <hr>
            <p class="is-size-6">Published:  2021-09-20 | By <em>Jamilu Hashimu Gora</em> </p>
            <p class="is-size-7">
Mai Girma Dan Takara Gwamnan Jihar Katsina a zabukan shekara ta Dubu Biyu da Ashirin da Ukku dake tafe Alhaji Dikko Ummar Radda Phd ya ja hankalin masu amfani da kimiyar sadarwa ta zamani akan fadin gaskia a cikin rahotannunsu tare da kauracewa karya da cin zarafin ko mutuncin sauran yan takara.

Alhaji Dikko Umar Radda yana Magana ne jimkadan bayan ya kaddamar da ofis , mota, kayan aiki da kuma bude taron bita na kwanaki biyu ga ya’yan Kungiyar Gwagware Media Reporters a Katsina.

Dan Takara Gwamnan Jihar Katsina a zabukan shekara ta Dubu Biyu da Ashirin da Ukku dake tafe Alhaji Dikko Ummar Radda Phd wanda kuma shine Shugaban Hukumar Inganta Kanana da Matsaikaitan Sana’oi ta Kasa ya bukaci masu amfani da kimiyar sadarwa ta zamani dasu rinka amfani da ita wajen wayar da kan al’umma akan shirye shirye da kudurorin Gwamnatin jihar Katsina da ta tarayya don cigaban kasa.

Gwagwaren na Katsina ya bukaci masu amfani da kimiyar sadarwa ta zamani dasu kauracewa yada jita jita da abinda zai tada tarzoma tare da kauracewa cin mutunci ko zarafin wani dan takara, a maimakon hakan suyi amfani da ita wajen kawo zaman lafiya da cigaban Kasa.

Gwamnan na gobe idan Allah ya yarda ya bukaci wadanda suka halarci taron dasu maida hankali akan abinda za akoya masu kuma su koyawa wadanta basu samu damar halartar taron ba.

A yayinda yake godewa akan hadin kai da goyon bayan da yake samu daga kungiyoyin, Gwagwaren Katsina yace an samar da ofis da mota da kayan aiki don marawa kokarinsu baya inda ya kara da cewa an shirya taron bitar na kwana biyu don ilimantar da yayan kungiyar akan yadda ake amfani da kimiyar sadarwa ta zamani a zamanance ta yadda haka zata cinma ruwa.

Shugaban Hukumar Bunkasa Kanana da Matsaikaitan sana’oi ta Kasa yayi kira da a cigaba da samun hadin kai da goyan baya tsakanin yayan kungiyoyi daban daban don cinma nasara.

  Sauran wadanda sukai Magana a wajen taron sun hada da Shugaban Kungiyar Gwagware Foundation Alhaji Kabir Amoga da Sakatare Alhaji Shamsu Ahmed inda suka ce an samar da manhajar Gwagware Blog wadda za a rinka amfani daita wajen tura labarai , rahotanni da kuma hotuna cikin sauki wanda itace irinta ta farko.</p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>  
 <section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <%= image_tag "old11.jpg" %>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">Give a bit change alot. </p>
            </a>
            <hr>
            <p class="is-size-6">Published: 2021-09-14 | By <em>Shamsudeen Sanusi Ahmed</em> </p>
            <p class="is-size-7">
Gwagwaren Katsina Dr. Radda philanthropy means generosity in all its forms “time, talent and treasure” to help make life better for the less privileged. A cause he always believe in, touching the lives of needy and orphans. "If you live for yourself you are a common man, if you live for others you are a legend" His desire to change alot even by giving abit to the society is worthy of recommendations. We are proud of your actions. More success your way I pray.</p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>  
        
	 <section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <%= image_tag "old10.jpg" %>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">The  </p>
            </a>
            <hr>
            <p class="is-size-6">Published:  2021-09-09 | By <em>Shamsudeen Sanusi Ahmed</em> </p>
            <p class="is-size-7">
The legendary, Dr Dikko Umaru Radda, it’s your birthday today, and a chance to celebrate you for being awesome. May this birthday bring you a greater level of success even as you lead us to greatness. Today is an opportunity to celebrate you for your immeasurable impact on good people of katsina state and beyond. Your leadership and dedication are more than an inspiration to many. So, on the occasion of your birthday, I wish you sound health and more success in your blistering career. HBD boss

Shamsudeen Sanusi Ahmed Mlf. Gwagwaren Galadiman Katsina, Secretary General, Gwagware foundation</p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>  	
 <section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <%= image_tag "old9.jpg" %>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">APC Ward Congress in Charanchi LGA with Dr Radda  </p>
            </a>
            <hr>
            <p class="is-size-6">Published:  2021-09-05 | By <em>Media Crew</em> </p>
            <p class="is-size-7">
ANGUDANAR DA ZABEN SHUGABANIN JAM'IYYAR(A.P.C L.G-EXCOS/NATIONAL DELEGATES) A KARAMAR HUKUMAR CHARANCI.* A yau asabar 04/09/2021, Maigirma Gwagwaren katsina, Dr Dikko umaru Radda ya jagoranci zaben shuwagabanni na matakin karamar Hukumar Charanci, zaben Wanda akayi abisa sasanci (consensus) na 'yan jam'iyyar, inda dukkanin 'ya'yan jam'iyyar da na ward (10) suka taro, domin nuna amincewarsu da mubaya'a ga sabbin shugabanin na jam'iyyar, inda Alh Yusuf Abdu Radda ya Zama (chairman),zaben ya gudana a Secretariat din karamar hukumar ta Charanci. _"Ina Kira agareku da ku rike amanar al'ummarku, Kuma kuyi jagoranci abisa adalci shine kadai zai kawo hadin Kai da cigaban jam'iyyarmu ta A.p.c" inji Dr Dikko Radda (D.G Smedan)_ Haka Kuma anzabi national delegates guda ukku, 1)Alh Dr Dikko umaru Radda 2)Prof Badamasi lawal charanci 3) Alh Abdurrazak Banye, Hon Nasiru Sani Zango,(zango/baure), Hon Babangida talau (Malunfashi/kafur),Alh Kabir faskari (kebram), Sune wadanda suka duba zaben shuwagabannin daga Jam'iyya ta jiha, Kuma sun yaba akan yanda aka gudanar da zaben cikin lumana.. Dukkanin manyan 'yan jam'iyyar Apc (stakeholders) na charanci sun halarci zaben, daga cikinsu Danmajalissa maiwakiltar karamar hukumar charanci Alh lawal Isa kuraye, Arc Usman Banye, Alh Abdurrahman marafan (Daf crc), Alh Kabir shuaibu charanchi(S.A political)   </p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>  
	

  

 <section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <%= image_tag "old8.jpg" %>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">Ansar Foundation courtesy visit to Dr Dikko Radda in his SMedan office headquarters. </p>
            </a>
            <hr>
            <p class="is-size-6">Published:  2021-09-05 | By <em>Ibrahim Kaula</em> </p>
            <p class="is-size-7">
The DG/CEO of the Small and Medium Enterprises Development Agency of Nigeria, SMEDAN, Dikko Umaru Radda PhD yesterday in his office hosted the Founder and President of Al Ansar Foundation, Mohammed Kyari Dikwa, Phd, Mni. Dikwa was in the corporate headquarters of SMEDAN to explore possible ways of collaboration between his foundation and SMEDAN. Both of them agreed to set up a technical team that will fast track the commencement of the synergy Mohammed Dikwa was a one time Federal Permanent Secretary in the Federal Ministry of Finance and retired recently after attaining the age of 60 to superintend over the foundation he founded to serve humanity. Kaula Ibrahim.  </p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>   
 <section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <%= image_tag "old7.jpg" %>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">Dr Radda was conferred with the ICON OF SOCIETAL TRANSFORMATION Award. </p>
            </a>
            <hr>
            <p class="is-size-6">Published:  2021-08-30 | By <em>Ibrahim Kaula</em> </p>
            <p class="is-size-7">
The other day, precisely on Saturday, 28th August 2021.The Director General/Chief Executive Officer of the Small and Medium Enterprises Development Agency of Nigeria, SMEDAN, Dikko Umaru Radda Phd bagged another award, this time around from the Student Representative Council of the Ahmadu Bello University Zaria. The Event was the Annual Entreprenuership Summit of the Council which took place at the Assembly Hall of the main campus. Dr Radda was conferred with the ICON OF SOCIETAL TRANSFORMATION Award in recognition of his awe inspiring performance as the Chief Executive Officer of SMEDAN ,in addition to his empowerment programmes targetted at the Nigeria youths and women under the Agency"s Flagship Programmes , the Conditional Grant Scheme (CGS) and the National Business Skills Development Initiative (NBSDI).
 </p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>   

 <section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <%= image_tag "old6.jpg" %>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">MSMEs Grant Flag-Off in Borno State. </p>
            </a>
            <hr>
            <p class="is-size-6">Published:  2021-08-30 | By <em>Shamsudeen Sanusi Ahmed</em> </p>
            <p class="is-size-7">
The National Conditional Grant Scheme was flagged off early this morning by the Executive Governor of Borno State, His Excellency Professor Babagana Umara Zulum at the Multipurpose Hall, Government House ,Maiduguri. The Event witnessed the attendance of members of the state Executive Council, State House of Assembly and other stakeholders. The DG/CEO of the Small and Medium Enterprises Development Agency of Nigeria, SMEDAN Dikko Umaru Radda PhD delivered the Keynote address at the great occasion which was witnessed by eminent personalities in Borno state Capital. Conditional Grant Scheme is aimed at getting the micro businesses formalised; whereas Smedan will provide training, free registration with Corporate Affairs Commission, one year micro insurance and N50,000 grant to boost business.
</p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>  

 <section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <%= image_tag "old5.jpg" %>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">Meet, Dr Dikko Umaru Radda.  </p>
            </a>
            <hr>
            <p class="is-size-6">Published:  2021-08-29 | By <em>Shamsudeen Sanusi Ahmed</em> </p>
            <p class="is-size-7">
Dikko Umaru Radda PhD. Was born  on the10th September 1969 in Hayingada-Dutsinma Local Government, Katsina State North-West Nigeria. A seasoned administrator, entrepreneur and a politician. 

He started his early educational pursuit at Radda Primary School from 1974-1980. He proceeded to Zaria Teachers College between 1980-1985 for his Grade Two Certificate. Dr Radda later gained admission into the College of Education, Kafanchan in 1986 and obtained the National Certificate of Education (NCE) in 1989. He enrolled into Abubakar Tafawa Balewa University, Bauchi  in 1992 and graduated with  a B-Tech.Agric Economics and Extension (Hons) in 1996.

Thereafter he gained admission into Ahmadu Bello University, Zaria In 1998 and obtained MSC Agric Extension and Rural Sociology in 2004. Dr Radda’s insatiable desire to broaden his horizon motivated him to   return to ABU Zaria in 2005 for a Masters in International Affairs and Diplomacy and later capped it with a Ph.D in Agricultural Extension and Rural Sociology from the same University in 2015.

Radda possesses extensive working experience. He was a class room teacher between 1989-1999.  He worked as a Banker with the defunct FSB International Bank between 1999-2003. He was Executive Chairman Charanchi Local Government Area of Katsina state between Jan 2005 and April 2007. He was reappointed Caretaker Committee Chairman, Charanchi LGA, Katsina State in May 2007. Other appointments he has held are; Senior Legislative Aide, NASS, Abuja, 2012-2014, National Welfare Secretary (APC), June 2014- July 2015, Chief of Staff to the Katsina State Governor between 2015-2016 and Director General/CEO, Small and Medium Enterprises Development  Agency of Nigeria(SMEDAN) from 2016 to date.

He holds the traditional title of Gwagwaren Katsina in the historic Katsina Emirate Council. Dr Radda has presented several academic papers in both local and international conferences and workshops. 

Radda is a philanthropist per Excellent, He his the Chairman Board of trustees Gwagware foundation, Dan Amana Forum, Gwagware women and orphans empowerment network among others, in all this capacity his major aim is uplifting  the living standards of orphan’s and the less privileged accross Katsina State and beyond.

He is a recipient of several awards and certificates from both local and international organizations. He is married with children
</p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>  
 <section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <%= image_tag "old4.jpg" %>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">Hasene in collaboration with Gwagware foundation slaughtered 700 cows to celebrate 2021 Eid Kabir with the less privileged in Katsina. </p>
            </a>
            <hr>
            <p class="is-size-6">Published:   2021-08-24 | By <em> Usman Bashir Galadima </em> </p>
            <p class="is-size-7">
Gwagware Foundation under the leadership of Dr Dikko Umaru Radda in collaboration with hasene International foundation slaughtered 700 cows to 4,900 less privileged beneficiaries in Katsina State to celebrate Eid Kabir 2021 Sallah. The event took place at Muhammadu Dikko stadium and was flagged off by his Excellency the Executive Governor of Katsina State Rt Hon Aminu Bello Masari . The Governor expressed his elation and delight to Dr Dikko Radda for always putting his people first and positively making impact and providing succour to people of katsina state .
</p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>  

 <section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <%= image_tag "old3.jpg" %>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">Vocational training by Dan Amana Solidarity Forum in Batagarawa LGA.</p>
            </a>
            <hr>
            <p class="is-size-6">Published:   2021-08-24 | By <em> Usman Bashir Galadima </em> </p>
            <p class="is-size-7">
On Friday 25/12/2020, Dan Amana Solidarity Forum, provided financial support and vocational training to over 200 needy people in Rimi, Batagarawa and Charanci Local Government Areas. . The training is given to special needs applicants. Addressing the gathering at the Dan Amana Solidarity Forum, DG said the support they have created is to help people with special needs so that they too can become self-reliant, and finally he prays to God to bring everyone home safely. Speaking on the occasion, Dr. Dikko Umar Radda and founder of Gwagware Foundation expressed his gratitude for the donation made by the organization, in his words "I would like to express my gratitude to this organization for its support and reaffirm its commitment to help this organization day and night". He prayed for the reward of all those who participated in this service and for God's grace to take everyone back home safely. Guess at the occasion include Rimi Local Government Area Member of Parliament and Majority Leader of the Katsina State House of Assembly (Hon) Abubakar Suleiman Abukur Kora'u, Hon Lawal Isa Kuraye, Commissioner of the Ministry Katsina State Water Resources Hon. Moses Adam funtua. With his counterpart from the Ministry of Education Prof, Badamasi Lawal charanchi. Katsina State KASROMA M.D Engr Surajo Yazeed Abukur. Katsina State APC Vice President Alh, Mammam yaro Batsari, APC Rimi Local Government Area Chairman Alh, Tanimu Mai Gari and his Charanchi and Rimi counterparts. Former members of the State House of Assembly and former mayors from Rimi Local Government Area, young men and women, among others.
</p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>  
 <section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <%= image_tag "old2.jpg" %>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">Condolence visit to the families of Malan Yusuf Muhammad @Charanchi by Dr Radda. </p>
            </a>
            <hr>
            <p class="is-size-6">Published:  2021-08-24 | By <em> Shamsudeen Sanusi Ahmed </em> </p>
            <p class="is-size-7">
Gwagwaran katsina Dr Dikko Umar Radda, today 20th August  2021, paid a condolence visit to the families of Malan Yusuf Muhammad Babba @ Charanchi, over the demised of Malan Yusuf, Mai Gwagwaran katsina Dr Dikko Umaru Radda pray to Allah SWA to forgive the short comings of the deceased and grant him jannat firddaus.
</p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>  

  <section class="section">
    <div class="container">
      

<div class="columns is-multiline">
    
    
    <div class="column is-7">
        <div class="card">
    <div class="card-image">
        <figure class="image">
 <%= image_tag "old1.jpg" %>
</figure>
    </div>
    <div class="card-content">
        <div class="content">
            <a href="#">
                <p class="title is-6">Interactive session with Coalition of Academic Staff In Tertiary institutions, Katsina State. </p>
            </a>
            <hr>
            <p class="is-size-6">Published:  2021-08-23 | <em> By Author</em> </p>
            <p class="is-size-7">
The Director General /CEO of the Small and Medium Enterprises Development Agency of Nigeria SMEDAN, Dikko Umaru Radda on Sunday 22 August 2021, had an interactive session with Coalition of Academic Staff In Tertiary institutions under the aegis of the Katsina People Community Based Organisation,(KPCBO). The event took place at the Munaj Event Centre,Katsina. Dr Radda had an engaging session with participant. Issues discuss where mainly on Economy, Political and security matters in the State. The participants asked various questions, and all where answered by Dr Radda, The participants acknowledged his brilliance and knowledge of current trends in the state and the nation as a whole. The event was well attended.
</p>
        </div>
        <div class="has-text-centered">
        
            
 <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
</svg></a>
               
         <a class="btn btn-secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
</svg></a>       
               
        </div>    
    </div>
</div>
    </div>
    

    
   

</div>



    </div>
</section>  



<section class="section">
    <div class="container">
        <div class="has-text-centered">
            <p> <a href="https://megaryte.herokuapp.com">&copy; Gwagware Media Reporters</a></p>
        </div>
    </div>
</section>




