<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :views %>
    <%= form.number_field :views %>
  </div>

  <div class="field">

    <%= form.number_field :member_id, value: current_member.id, type: "hidden" %>
  </div>

    <div class="field">

    <%= f.select :approval,[ "false","true"], { prompt:"Admin" }, class:"control has-icons-left is-small is-rounded"%> 
  </div>
  <%= f.select :admin,[ "false","true"], { prompt:"Admin" }, class:"control has-icons-left is-small is-rounded" %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
 